@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: proxima-nova;
    src: url(proxima-nova-light.otf);
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    /* Not great for accessibility, elements use outline to convey visual focus,
    *  this will make keyboard navigation difficult
    *  outline: none;
    */
    outline: none; 
    padding: 0;
}
/* Setting up simple color css-variable so colors can be easily swapped in the future. */
:root {
    --primary-color: black;
}

body {
    /* applying primary color variable to body so it will be inherited */
    color: var(--primary-color);
    display: flex;
    font-family: proxima-nova;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    margin: 0;
}
#menu-icon{
    display: none;
}

/*  Main navigation */
.nav-container {
    /* setting up a css variable so we can easily adjust it for mobile breakpoints as needed */
    --nav-padding: 15px 30px;
    background-color: var(--primary-color);
    background: #fff;
    /* Set vertical sizing for flexbox layout from body */
    flex: 0 0 auto;
    /* Base padding to prevent content from touching edges of screen, adjust as you'd like */
    padding: var(--nav-padding);
    top: 0;
    z-index: 1;
    transition: display 0.5s ease; 
}
.nav-container.show {
    display: block;
    animation: slideDown 0.5s ease; /* Add animation for smooth drop-down effect */
}
.index{
    display: none;
}

/* Keyframes for the drop-down animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Reduce left/right padding in mobile, 600px was when the text started to wrap.  May need some tweaking */
@media screen and (max-width: 600px) {
    .nav-container {
        /* re-define nav padding css variables value */
        --nav-padding: 15px;
    }
}

@media(max-width: 500px){
    section{
        height: 200px;
        background: white;
    }
    .index{
        display: flex;
        color: black;
    }
    .nav-container{
        z-index: 999;
        display:none;
        background: white;
        align-items: right;
    }
    .nav-container ul{
        flex-direction: column;
    }
    .nav-container a{
        height: 48px;
    }

    #menu-icon{
        display: flex;
        height: 48px;
        background-color: black;
        align-items: center;
        justify-content: flex-end;
        color: white;
        cursor: pointer;
        z-index: 999;
        transition: transform 0.5s ease; /* Add a transition for smooth icon changes */
        padding-right: 5px;
        padding-bottom: 5px;
    }
    #menu-icon img{
        width: 30px;
        height: 30px;
    }
    
    /* Rotate the menu icon when the nav container is shown */
    #menu-icon.show {
        transform: rotate(90deg);
    }

}
.nav-list {
    align-items: center;
    display: flex;
    /* Allow nav items to wrap as needed */
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    width: 100%;
}
/* This is the logo in nav, let it grow to push other nav content to right */
.nav-item--grow {
    flex-grow: 1;
}
.nav-container ul a {
    /* --primary-color: orange;  if you want to change color, re-define the css variable inherited
    *  from the body, setup in the :root.  It will be scoped to these nav links
    */
    color: var(--primary-color);
    font-size: 27px;
    position: relative;
    /* consider keeping the underline so users can recognize these as clickable links */
    text-decoration: none;
}
/* Underline effect on all but the first navigation item as the first is the logo*/
.nav-container ul li:not(:first-child) a::before {
    /* currentColor references the current font-color from the link, it will update if the link color changes */
    background-color: currentColor;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s;
    width: 0;
}
nav li:not(:first-child) a:hover::before,
nav li:not(:first-child) a:focus::before {
    width: 100%;
}

/* Landing */
.landing {
    display: grid;
    /* Using grid, we can more easily position the logo, periods in template-areas are placeholders, the logo
    *  name is where the logo is placed via the 'grid-area: logo' designation on that element.
    */
    grid-template-areas: 
        ". . ."
        ". logo .";
    /* First and last columns are auto sized, middle is 810px, this is the cropped width of the logo. */
    grid-template-columns: 1fr 810px 1fr;
    /* Adding two rows that auto-size, 50% of viewport each to help position logo near bottom */
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    /* Want the main banner to be 100% of the viewport height, negatively position by height of navigation */
    margin-top: -160px;
    /* Updated from 50px margin */
    padding: 50px 0;
    position: relative;
}
.landing-frame {
    /* specify grid area to apply positioning */
    grid-area: logo;
    /* overflow hidden here to force a specific size, center positioning, and hide the excess */
    overflow: hidden;
}
.landing .logo {
    left: 50%;
    position: relative;
    /* Add transition for width, size adjusts slightly for smaller screens */
    transition: width 0.5s linear;
    /* position/center logo in frame */
    translate: -61.25% -34%;
    /* Base logo width */
    width: 1366px;
}
/* Generally when the logo starts to clip in frame, reduce size. */
@media (max-width: 1025px) {
    /* adjust grid layout, 30px first and last for alignment with padding for footer/nav\\
    *  May need to be tweaked
    */
    .landing {
        grid-template-columns: 30px 1fr 30px;
    }
    .landing .logo {
        width: 750px; /* static width, desktop size and mobile size - easier to manage centering with off-center image */
    }
}
@media (max-width:520px) {
    .landing .logo {
        width: 500px;
    }
}

/* Footer */
.footer {
    --footer-padding: 10px 30px;

    flex: 0 0 auto;
    border-top: 2px solid var(--primary-color);
    justify-content: center;
    padding: var(--footer-padding);
}
/* probably isn't necessary for footer as the content should never reach the edges of the screen but keeping
*  for consistency
*/
@media screen and (max-width: 600px) {
    .footer {
        --footer-padding: 10px 15px;
    }
}

.mobile-photo{
    display: none;
}

/* Gallery - Photography page */
.gallery .nav-container {
    /* Transparent background to match your original nav sitting on the image.  Will need to revisit this 
    *  as i've made the nav sticky with scroll and it will need a background to display correctly
    *  over other content 
    */
    background: var(--primary-color);
}
.gallery .nav-container a{
    color: white;
}
@media only screen and (max-width:600px){
    .gallery .nav-container a{
        color: white;
    }
}
.gallery-banner {
    flex: 0 0 100vh;
    position: relative;
    /* Same general cropping technique from the homepage */
    overflow: hidden;
    margin-top: -70px;
    width: 100%;
    z-index: -1;
    background-color: black;
}
.car-banner-background {
    position: absolute;
    /* Want a specific static size */
    width: 2000px;
    top: -1000px;
    left: 50%;
    /* Adjusting position to match positioning on your original site, this is a very large image */
    translate: -50%;
    /* Adding transitions to width and top, reduces slightly below 800px; */
    transition: width 0.5s linear, top 0.5s linear;
}


@media (max-width: 800px) {
    .banner-background {
        width: 1400px;
        top: -400px;
    }
}
.banner-foreground {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 30%;
    translate: -50%;
    opacity: .7;
}
@media only screen and  (max-width: 800px) {
    .banner-foreground{
        top: 450px;
        max-width: inherit;
    }

    .gallery-banner{
        top: 20px;
    }
}



/* haven't changed much past here yet */
.seperator {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 0;
    margin-bottom: 30px;
}

.photo-container {
    /* margin-top: 1350px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.portrait-photo-container {
    /* margin-top: 1350px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
@media screen and (max-width: 800px){
    .portrait-photo-container{
        top: 10px;
    }
}
@media screen and (max-width: 800px) {
    .photo-container{
        flex-wrap: wrap;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        top: 10px;
    }

    .photo-container img{
        min-width: 400px;
        min-height: 400px;
    }
    
}
.car-photo-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        position: relative;
        z-index: 1;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
}


/* Haven't gotten a chance to comb through which images this should affect, assuming just the gallery images
*  but haven't made it through the car gallery yet.
*/
img:not(.banner-background, .banner-foreground, .logo, .nav-img, .icon,.car-banner-background) {
    flex-wrap: wrap;
    min-width: inherit;
    min-height: inherit;
    max-height: 63vmin;
    object-fit: cover;
    margin-top: 10px;
    z-index: -1;
}
/* Scoping to photo galleries for now, may need to adjust to support car gallery */
.photo-container img:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

.footer{
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

@media screen and (max-wdith: 800px) {
    .footer{
        top: 200px;
    }
}


.social{
    align-items: center;
    display: flex;
    gap: 20px;
    line-height: 1; /* set line-height to 1 or 100% so icons are whole pixel values */
}
.icon{
    height: 20px;
    width: 20px;
}


.car-nav ul{
    padding-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.car-nav a{
    text-align: center;
}

form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    font-family: proxima-nova;
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: rgba(172, 167, 167, 0.5);
    border-radius: 100px;
    font-size: 16px;

}
form textarea{
    font-family: 'Dancing Script', cursive;
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: rgba(172, 167, 167, 0.5);
    font-size: 16px;

}

form button{
    text-align: center;
    padding: 15px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px;
}

form h3{
    color: black;
    font-family: proxima-nova;
    font-weight: bold;
}

@media only screen and (max-width: 430px) {
    .nav-container {
        margin-top: 0; /* Adjust as needed */
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
    }

    .logo-container {
        margin-bottom: 10px; /* Adjust as needed */
    }

    .nav-container,
    nav ul,
    nav a::before {
        width: 100%; /* Full width for mobile */
    }
}

.about-photo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

h1{
    text-align: center;
    font-size: 48px;
    font-weight: normal;
}

p{
    
    display: flex;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width :600px) {
    .about-photo{
        display: none;
    }
    .mobile-photo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    .mobile-photo img{
        min-width: 300px;
        min-height: 300px;
    }
}